.expo-slider {
  width: 100%;
}

/* Style commun */
.slider-track {
  display: flex;
  gap: 1.5rem;
  scroll-behavior: smooth;
  padding: 2rem 0;
}

.slide {
  object-fit: cover;
  opacity: 0.8;
  transition: opacity 0.3s;
  border-radius: 8px;
}

.slide:hover {
  opacity: 1;
}

/* Navigation */
.slider-nav {
  margin-top: 1rem;
  text-align: center;
  font-weight: bold;
}

/* Version mobile : carousel horizontal */
@media (max-width: 767px) {
  .slider-track {
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
  }

  .slide {
    flex: 0 0 80%; /* largeur de chaque image */
    scroll-snap-align: center;
  }
}

/*Version PC : grille fixe */
@media (min-width: 768px) {
  .slider-track {
    justify-content: center;
    overflow: hidden; /* pas de scroll horizontal */
  }

  .slide {
    flex: 0 0 30%; /* 3 images côte à côte */
  }
}