
*{ 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:"Fibra light";
  
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding-top: 10px;
}

.madd-logo {
  height: 40px;
  width: auto;
  display: block;
}
nav ul {
  display: flex;
  gap: 1.5rem;
  list-style: none;
}
nav a, nav a:visited, nav a:hover, nav a:active {
  text-decoration: none;
  color: black;
}
.btn-header {
  padding: 0.6rem 1.2rem;
  background-color: white;
  color: black;
  text-decoration: none;
  border: 2px solid orange;
  border-radius: 4px;
  font-weight: 600;
}
.btn-header:hover {
  background-color: orange;
  color: white;
}


.btn-alt {
  position: absolute;
  right: 30px;
}
/*header*/


.MuséeVivant {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 20px;
  margin-right: 100px;
}

.MuséeVivant img {
  margin-left: 100px;
  gap: 20px;
}


.MuséeVivant h1 {
  margin-left: 70px;
}


body {
  font-family: "Fibra light";
  padding-left: 50px;
  padding-right: 50px;
}

.Image{
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
  gap: 20px;
  height:600px;  
}  





.texte-expo{
  text-align: left;
  padding-right: 0px;
  padding-left: 0px;
  
}









footer {
  display: flex;
  justify-content: center;
  gap: 400px;
  padding-bottom: 30px;
  padding-top: 130px;
  font-size: 20px;
}
footer ol {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.info-footer{
  gap: 20px;
  text-align: center;
}


.info2-footer{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  text-align: center;
  text-decoration: underline;
}

.image-reseau {
  width: 70px;
  position: relative;
  top: -20px;
}

/*footer*/


 @media screen and (max-width: 677px) {

  body {
    padding-left: 12px;
    padding-right: 12px;
  }

  
  .btn-alt {
    position: static;
    margin-top: 10px;
  }

  .madd-logo {
    height: 32px;
  }

  /* TITRE + INTRO */
  .MuséeVivant {
    margin-right: 0;
    padding-top: 25px;
    text-align: center;
  }

  .MuséeVivant h1 {
    margin-left: 0;
    font-size: 1.5rem;
  }

    .MuséeVivant h2 {
    margin-left: 0;
    font-size: 1.2rem;
    text-align: center;
    padding-right: 110px;
  }


  .MuséeVivant img {
    margin-left: 0;
    max-width: 100%;
  }

  /* IMAGES */
  .Image {
    flex-direction: column;
    height: auto;
    gap: 12px;
    padding: 15px 0;
  }

  /* TEXTE */
  .texte-expo {
    text-align: left;
    font-size: 0.95rem;
  }

  .contact-expo {
    padding-left: 20px;
  }

  /* FOOTER */
  footer {
    flex-direction: column;
    gap: 30px;
    padding-top: 60px;
    font-size: 16px;
  }

  .info2-footer {
    grid-template-columns: 1fr;
  }

  .image-reseau {
    
    padding-top: 10px;
    width: 50px
  
  }
    
  }