@font-face {
    font-family:"Fibra light";
    src: url(/Polices/fibra.woff);
}

h1, h2, h3, h4, h5, h6, p {
  font-family: "Fibra light";
}
h1 {
  font-size: 64px;
}

h2 {
  font-size: 48px;
  padding-left: 100px;
}

h3 {
  margin: 0 0 10px 0;
  font-size: 1.2rem;
}

.body {
  font-size: 18px;
}

.quote {
  font-size: 20px;
}


@media screen and (max-width: 1080px) {

h1 {
  font-size: 29px;
}

h2 {
  font-size: 20px;
  padding-left: 100px;
}

h3 {
  margin: 0 0 10px 0;
  font-size: 1.2rem;
}

.body {
  font-size: 16px;
}