
/*header*/
* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: white;
}

.expo-item a {
  display: block;        /* Lien = bloc */
}

.expo-item a img {
  display: block;        /* Supprime espaces parasites */
}

.logo-link {
  display: inline-block;
}

.madd-logo {
  height: 40px;
  width: auto;
  display: block;
}
nav ul {
  display: flex;
  gap: 1.5rem;
  list-style: none;
}
nav a, nav a:visited, nav a:hover, nav a:active {
  text-decoration: none;
  color: black;
}
.btn-header {
  padding: 0.6rem 1.2rem;
  background-color: white;
  color: black;
  text-decoration: none;
  border: 2px solid orange;
  border-radius: 4px;
  font-weight: 600;
}
.btn-header:hover {
  background-color: orange;
  color: white;
}
/*heder*/
/*body*/
main {
  padding-left: 10px;
  padding-right: 10px;
}
/* cacher les radios */
.expo-slider input {
  display: none;
}

/*fleche*/

.reouverture-content{
  display: flex;
}

.image-alt{
  padding-left: 200px;
  width: 600px;
}

.oeuvre_coup_de_coeur .coup_de_coeur {
  display: flex;
  gap: 15px;
  align-items: flex-start;
}

/* Image */
.oeuvre_coup_de_coeur img {
  object-fit: contain;
  display: block;
}

.titre{
 padding-left: 150px;
 padding-top: 100px;
 padding-bottom: 50px;
}

.titre-alt{
 padding-left: 150px;
 padding-top: 100px;
 padding-bottom: 50px;
}

.texte {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 30px;
  padding-left: 150px;
  width: 700px;
}

.texte-alt{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 10px;
  margin-left: 150px;
  width: 1250px;
}

.oeuvre_coup_de_coeur p {
  margin: 20px 0 0 0;
  font-size: 0.95rem;
  line-height: 1.4;
  max-width: 300px;
}

.voir-plus {
  text-decoration: underline;
}

.histoire .musée {
  display: flex;
  gap: 0px;
  align-items: flex-start;
}

.image{
  width: 600px;
  height: auto;
  object-fit: contain;
  display: block;
  padding-left: 210px;
}

.btn-alt {
  position: absolute;
  right: 30px;
}

/*body*/
/*footer*/
footer {
  display: flex;
  justify-content: center;
  gap: 100px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 30px;
  padding-top: 130px;
  font-size: 20px;
}
footer ol {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

footer ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.info-footer{
  gap: 20px;
  padding-left: 100px;
}


.info2-footer{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  text-align: center;
  text-decoration: underline;
  padding-right: 100px;
}

.image-reseau {
  width: 70px;
  position: relative;
  top: -20px;
}

/*footer*/


@media screen and (max-width: 677px) {

  .body{
    padding-left: 50px;
  }
  .reouverture{
    padding-left: 20px;
  }
  
  
  .reouverture-content{
    flex-direction: column;
    gap: 10px;
    padding-right : 3rem;
  }

  .coup_de_coeur{
    flex-direction: column;
    gap: 10px;
    padding-top: 30px;
  }

  .nos-collections{
    margin-top: 3rem;
    gap: 0px;
  }

  .histoire{
    position: relative;
    top: -5rem;
  }

  .coup_de_coeur img, .coup_de_coeur h3{
    padding-left: 60px;
  }

  .musée{
    flex-direction: column;
    gap: 5px;
    padding-right: 300px;
  }

    .oeuvre_coup_de_coeur h2, .oeuvre_coup_de_coeur img {
      padding-left: 200Spx;

  }

  .oeuvre_coup_de_coeur .coup_de_coeur {
    flex-direction: column;
  }

  .texte{
    padding-top: 0;
    text-align: left;
    padding-left: 20px;
    width: 300px;
  }

  .texte-alt{
  padding-top: 20px;
  font-size: 16px;
  margin-left: 15px;
  margin-right: 15px;
  width: 290px;
  }

  .titre{
    padding-left: 30px;
    width: 320px;
    text-align: center;
  }

  .titre-alt{
    padding-left: 0rem;
    width: 320px;
    text-align: center;
  }

  .image-alt{
    padding-left: 1rem;
    width: 300px;
  }

  .image{
    padding-left: 2.5rem;
    width: 300px;
  }
  footer {
    flex-direction: column;
    gap: 30px;
    padding-top: 60px;
    padding-left: 20px;
    font-size: 16px;
  }

  .info2-footer {
    grid-template-columns: 1fr;
    padding-left: 100px;
    text-align: center;
    gap: 20px;
  }

  .info-footer {
    grid-template-columns: 1fr;
    padding-left: 0px;
    text-align: center;
  }

  .image-reseau {
    
    padding-top: 10px;
    width: 50px
  
  }
  .btn-alt{
    margin-right: 20px;
  }

  .quotes{
    padding-left: 0px;
  }

  .histoire{
    padding-left: 20px;
  }

  .nos-collections{
    padding-left: 20px;
  }
  

}