
/*header*/
* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: white;
}

.madd-logo {
  height: 40px;
  width: auto;
  display: block;
}
nav ul {
  display: flex;
  gap: 1.5rem;
  list-style: none;
}
nav a, nav a:visited, nav a:hover, nav a:active {
  text-decoration: none;
  color: black;
}
.btn-header {
  padding: 0.6rem 1.2rem;
  background-color: white;
  color: black;
  text-decoration: none;
  border: 2px solid orange;
  border-radius: 4px;
  font-weight: 600;
}
.btn-header:hover {
  background-color: orange;
  color: white;
}
/*heder*/
/*body*/
main {
  padding: 3rem 2rem;
}
/* cacher les radios */
.expo-slider input {
  display: none;
}

/*fleche*/

.reouverture-content{
  display: flex;
}

.image{
  padding-left: 200px;
}

.image-construction{
  width: 500px;
}

.oeuvre_coup_de_coeur .coup_de_coeur {
  display: flex;
  gap: 15px;
  align-items: flex-start;
}

/* Image */
.oeuvre_coup_de_coeur img {
  object-fit: contain;
  display: block;
}

.titre{
 padding-left: 150px;
 padding-top: 100px;
 padding-bottom: 50px
}

.texte {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 100px;
  padding-left: 150px;
  width: 700px;
}

.oeuvre_coup_de_coeur p {
  margin: 20px 0 0 0;
  font-size: 0.95rem;
  line-height: 1.4;
  max-width: 300px;
}

.voir-plus {
  text-decoration: underline;
}

.histoire .musée {
  display: flex;
  gap: 15px;
  align-items: flex-start;
}

.histoire .musée img {
  width: 800px;
  max-width: 45%;
  height: auto;
  object-fit: contain;
  display: block;
}

.btn-alt {
  position: absolute;
  right: 30px;
}

/*body*/
/*footer*/
footer {
  display: flex;
  justify-content: center;
  gap: 400px;
  padding-bottom: 30px;
  padding-top: 130px;
  font-size: 20px;
}
footer ol {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.info-footer{
  gap: 20px;
  text-align: center;
  padding-left: 100px;
}


.info2-footer{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  text-align: center;
  text-decoration: underline;
  padding-right: 100px;
}

.image-reseau {
  width: 70px;
  position: relative;
  top: -20px;
}

/*footer*/


@media screen and (max-width: 1080px) {

  .reouverture-content{
    flex-direction: column;
    gap: 10px;
    padding-right : 1rem;
  }

  .coup_de_coeur{
    flex-direction: column;
    gap: 10px;
    padding-top: 30px;
  }

  .musée{
    flex-direction: column;
    gap: 10px;

  }

  .oeuvre_coup_de_coeur .coup_de_coeur {
    flex-direction: column;
  }

  .texte{
    padding-top: 0;
    text-align: center;
    padding-left: 2rem;
    width: 300px;
  }

  .titre{
    padding-left: 3.5rem;
    width: 1000px;
  }

  .image-alt{
    padding-left: 2.5rem;
    width: 300px;
  }

    .image{
    padding-left: 1rem;
    width: 300px;
  }
}