@font-face {
    font-family:"Fibra light";
    src: url(/Polices/fibra.woff);
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Fibra light";
}
h1 {
  font-size: 64px;
}

h2 {
  font-size: 48px;
  padding-left: 100px;
}

h3 {
  margin: 0 0 10px 0;
  font-size: 1.2rem;
}

.body {
  font-size: 18px;
}

.body-alt{
  font-size: 18px;
  margin-right: 150px;
}

body{
  font-family:"fibra light";
}

.quotes {
  font-size: 20px;
}


@media screen and (max-width: 1080px) {

h1 {
  font-size: 29px;
}

h2 {
  font-size: 20px;
  padding-left: 100px;
}

h3 {
  font-size: 20px;
  margin: 0 0 10px 0;
  font-size: 1.2rem;
}

.body {
  font-size: 16px;
  text-align: center;
}

.body-alt{
  font-size: 16px;
  padding-left: 20px;
  width: 290px;
}

.quotes {
  font-size: 16px;
}

}