@font-face {
    font-family:"Fibra light";
    src: url(/Polices/fibra.woff);
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Fibra light";
}
h1 {
  font-size: 64px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
}

.body {
  font-size: 18px;
}

.quotes {
  font-size: 20px;
}
